@CHARSET "UTF-8";

body { padding-top: 80px; }
  @media ( min-width: 768px ) {
    #banner {
      min-height: 300px;
      border-bottom: none;
    }
    .bs-docs-section {
      margin-top: 8em;
    }
    .bs-component {
      position: relative;
    }
    .bs-component .modal {
      position: relative;
      top: auto;
      right: auto;
      left: auto;
      bottom: auto;
      z-index: 1;
      display: block;
    }
    .bs-component .modal-dialog {
      width: 90%;
    }
    .bs-component .popover {
      position: relative;
      display: inline-block;
      width: 220px;
      margin: 20px;
    }
    .nav-tabs {
      margin-bottom: 15px;
    }
    .progress {
      margin-bottom: 10px;
    }
  }

.errorMessages {
	color: red;
}

.copyright {
	text-align: center;
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.center {
	text-align: center;
}

.radio-margin {
	margin: 0 5px;
}

.date-color {
	background-color: white;
}

.date {
	z-index: 2;
}

.commentBlock {
	display: block;
}

.commentNone {
	display: none;
}

.comment {
	display: none;
}
a {
  color: #E7E8F2;
}

body {
background-color: #7AC2E8;
}

.left {
	margin-left: auto;
}


}
